cors==1.0.1
Flask==2.0.0
Flask-Cors==4.0.0
tensorboard==2.11.0
tensorboard-data-server==0.7.2
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
shap==0.43.0